/robot-delivery-app/backend/config/__pycache__
/robot-delivery-app/backend/config/__pycache__
/robot-delivery-app/backend/config/__pycache__
robot-delivery-app/backend/config/__pycache__/__init__.cpython-314.pyc
/robot-delivery-app/backend/apps/__pycache__
/robot-delivery-app/backend/config/__pycache__
/robot-delivery-app/backend/config/__pycache__
/robot-delivery-app/backend/config/__pycache__
robot-delivery-app/backend/config/__pycache__/wsgi.cpython-314.pyc
robot-delivery-app/backend/config/__pycache__/urls.cpython-314.pyc
robot-delivery-app/backend/apps/__pycache__/views.cpython-314.pyc
robot-delivery-app/backend/config/__pycache__/__init__.cpython-314.pyc
/robot-delivery-app/backend/config/__pycache__
*.pyc
*.pyc
/backend/.env